:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body, .btn-primary  {
  background: #2c3e50;
  margin-top: 20px;
}

img {
	position: absolute;
    margin-left: 285px;
    margin-right: 285px;
	border-radius: 50%;
	height: 250px;
	width: 250px;
	z-index: 1;
}

b, .btn-primary {
	color: #B3422B;
}

b {
	font-weight: 700;
}

.btn-primary:hover{
	background-color: #395066;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #93B1C6;
  padding: 170px 200px 0px;
  height: 500px;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

header {
    text-align: center;
    font-size: 14pt;
}

header .container {
    padding-top: 10px;
}
